---
---

.background {
  position: relative;
  background: var(--background);
  color: var(--text);
  z-index: 1;
  font-size:14px;
  line-height:24px;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.35;
  z-index: -1;
}

.background h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.background hr
{
  border-top-color:#bbb;
  opacity:0.5
}